ul.main-header__item-list
    li.main-header__item
        a(href="/contact", class = (path ==='/contact'? "active" : '')) Contact
    li.main-header__item
        a(href="/about", class = (path ==='/about'? "active" : '')) About