@import "helpers/variables";

.wrapper{
    width: 80%;
    padding: 50px 0;
    margin: 0 auto;
    font-family: $fontscript
}

body{
    background: $lightyellow
}

#profilePic {
    height: 300px * 0.8;
    width: 288px * 0.8;
    margin: 40px 0 0 20px;
}

.picWrapper {
    float: right
}

.title{
    font-size: 35px;
    color: $red;
}

.about-paragraph {
    margin: 10px 5px;
}



.about-paragraph, .about-span {
    font-size: 25px;
    color: $blue;
}

.about-span1 {
    margin: 0 5px 0 0;
}

.about-span {
    margin: 0 5px;
}


@media (max-width: 500px) {
    .picWrapper {
        float: none;
        width: 300px * 0.8;
        margin: 10px auto
    }
    #profilePic {
        margin: 0 auto
    }
    .about-paragraph, .about-span {
        font-size: 20px;
    }
    .title {
        font-size:25px
    }
}