extends layouts/main-layout

block styles
    link(rel="stylesheet", href="/css/about.css")

block content
    main
        .wrapper
            .picWrapper 
                img#profilePic(src = '/images/head-shot.JPG' align = left)
            p.title Your child is worth it
            p.about-paragraph School can be a tough place!  Children with enormous potential regularly struggle in the classroom. 
            br
            .about-paragraph Children do not struggle because they can not learn. All children have genius within them. All children can learn.
            br
            p.title Find a teacher you trust
            p.about-paragraph Joshua Meriyah taught in public schools for 8 years with all grade levels from Elementary School up through High School.  Prior to that, he was also an SAT tutor and college peer tutor. 
            br 
            p.about-paragraph As a teacher, Josh's students made enormous growth.  On average, his students grew over one and a half grade levels, and he supported some students to grow by as many as three grade levels in a single year.  
            br 
            p.about-paragraph Josh is a fantastic math tutor for all levels.  He is part of a team that created Yananza.com, a web app for students to master their basic math facts.  He is also certified as a Wilson literacy coach who has helped students with reading disabilities learn to read. 
            br
            p.about-paragraph If you want to support your child to realize their own genius, get in touch with Josh!