extends layouts/main-layout

block styles
    link(rel="stylesheet", href="css/home.css")

block content
    main
        #mainImage 
        .tagline Every child has genius within them.
            .subHead Let it be realized.
        .grid
            each item in items
                article.card.education-teaser__item
                    header.header-card
                        h1.education-teacher__title #{item.title}
                    div.card-line
                    .card__image
                    .card__content
                        h2.education-teacher__content #{item.text}
