$blue: rgb(20, 100, 255);
$yellow: rgb(255, 175, 31);
$lightyellow: rgba(255, 175, 31, 0.1);
$dark-orange: rgb(255, 113, 31);
$red: rgb(183, 5, 25);
$green: rgb(20, 225, 197);
$faded-green: rgb(138, 255, 239);
$fontscript: 'Shadows Into Light', cursive;
$fontblock: 'Barlow Condensed', sans-serif;
$screenWidth: 500px;

$blue: #1462ff;
$yellow:#ffaf1f;
$red: #b70519